*{
    margin: 0;
    padding: 0;
}
html, body {height:100%;}

html {display:table; width:100%;}

body{
    vertical-align:middle;
    display:table-cell;
    background-color: #add8e6;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    display: flex;
}

.formcontainer{
    position: relative;
    width:500px;
    height: auto;
    padding:20px 30px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #000000;
    margin: auto;
}

.label{
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
}

.login_form{
    padding: 10px 40px;
}
.login_form.font{
    font-size: 18px;
    color: #130f40;
    margin:5px 0;
}
.login_form input{
    height: 40px;
    width: 370px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid #c0c0c0;
}


.login_form button{
    margin: 20px 0 30px 0;
    height: 45px;
    width: 370px;
    font-size: 20px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1A237E;
    border: 3px;
    border: 1px solid #3949AB;
    border-radius: 3px;
    transform: 0.5s;
}
.login_form button:hover{
    background: #151c6a;
}

a{
    color: #151c6a;
}

